* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: #2a2a2e;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

/* -------------------------------------------- */
/*                   Footer                     */
/* -------------------------------------------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}